<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862364063174-k5d20fpppmhv03n32n6tn0ndvui3bv5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862364063174-k5d20fpppmhv03n32n6tn0ndvui3bv5j</string>
	<key>API_KEY</key>
	<string>AIzaSyDkE0m96NY-sOfd-eNQmBjYDj9rim5Wlyk</string>
	<key>GCM_SENDER_ID</key>
	<string>862364063174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nidhikamath.flutterBlog</string>
	<key>PROJECT_ID</key>
	<string>flutterblogdemo-bf7ca</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterblogdemo-bf7ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862364063174:ios:af4dc65be1b4fa43a58ec7</string>
	<key>DATABASE_URL</key>
	<string>https://flutterblogdemo-bf7ca.firebaseio.com</string>
</dict>
</plist>